.contact-us-page{
    display: flex;
    justify-content: center;
    margin: 150px 0;
}

@media only screen and (max-width: 1500px){
    .contact-us-page{
        margin: 1000px 0 150px 0;
    }
    
  }